/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation:portrait) {
    /* CSS */
    * {
        margin: auto;
    }
    .login-page {
        margin-top: 10rem;
    }
    .card-body {
        width: 70%;
    }
    .brainsterAds {
        width: 100%;
        text-align: center;
        margin-bottom: 3rem;
    }
    .col-md-4 {
        max-width: 90%;
    }
    .col-md-6 {
        max-width: 80%;
    }
    .login-box {
        display: block;
    }
    .logginButton {
        width: 100%;
    }
    .forgetPassword {
        font-size: 12px;
    }
    #sign-up>img {
        width: 400px;
        height: auto;
    }
    .card {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
        /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
    }
}


/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    /* CSS */
    .login-page {
        margin-top: 12rem;
    }
    .logginButton {
        width: 100%;
    }
    .forgetPassword {
        font-size: 12px;
    }
}


/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
    /* CSS */
}